<mat-card class="bg-color" *ngIf="!!demands.length">
    <mat-card-title class="text-center">مطالبات </mat-card-title>
    <mat-card-content class="flex flex-wrap">
        <mat-card class="flex-1">
            <mat-card-content>
                <mat-divider inset></mat-divider>
                <app-table [columns]="tableHeader" [dataSource]="demands"></app-table>
            </mat-card-content>
            <mat-divider inset></mat-divider>
        </mat-card>
    </mat-card-content>
</mat-card>
