<div class="flex flex-col">
    <form class="flex justify-around w-full mt-5 text-center items-center columns-3" (submit)="prepareDataForLiquidityReports()" [formGroup]="form">
        <mat-form-field appearance="outline">
            <mat-label>نهاد</mat-label>
            <mat-select formControlName="organization" required>
                <mat-option *ngFor="let organization of organizations" [value]="organization.nationalCode">
                    {{ organization.name }}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>تاریخی را برگزینید</mat-label>
            <input matInput [matDatepickerFilter]="filterDatesBaseOnReportAvailability" [matDatepicker]="picker" [formControlName]="'createdAt'" />
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
    </form>

    <div class="flex flex-col text-center px-14">
        <app-combo-chart *ngIf="isChartShown" [data]="this.liquidityReportChartInfo" class="mb-5"></app-combo-chart>

        <app-liquidity-desc *ngIf="isChartShown" [info]="returnValueForComponents()" class="mt-10"></app-liquidity-desc>
    </div>
</div>
