.vertical-text {
    writing-mode: vertical-rl;
}
.sidenav-header {
    height: 80px;
}

.mat-card {
    display: flex;
    flex-direction: column;
}

.mat-card-header {
    flex-shrink: 0;
}

.mat-card-content {
    flex-grow: 1;
    overflow: auto;
}

.bg-image {
    background-image: url('../../src/assets/images/bg-image.jpg');
}

.calc-div-height {
    height: calc(100% - 96px);
}

.card-background {
    background: #eaebef;
}
