<mat-card class="bg-color" *ngIf="performanceCurveInfo.length">
    <mat-card-title class="text-center">منحنی بازده </mat-card-title>
    <mat-card-content class="flex flex-wrap">
        <mat-card class="flex-1">
            <mat-card-content>
                <mat-divider inset></mat-divider>
                <app-combo-chart-performance-curve [data]="performanceCurveInfo"></app-combo-chart-performance-curve>
            </mat-card-content>
            <mat-divider inset></mat-divider>
        </mat-card>
    </mat-card-content>
</mat-card>
