<mat-card class="bg-color">
    <mat-card-content class="flex flex-wrap">
        <mat-card class="flex-1">
            <mat-card-content>
                <mat-divider inset></mat-divider>
                <app-general-table *ngIf="!!history.length; else empty" [columns]="columns" [data]="history"
                    [buttons]="buttons" [tableMinWidth]="400">
                </app-general-table>
                <ng-template #empty>
                    <h1>داده‌ای وجود ندارد</h1>
                </ng-template>
            </mat-card-content>
            <mat-divider inset></mat-divider>
        </mat-card>
    </mat-card-content>
</mat-card>