<mat-card class="bg-color" *ngIf="!!profitData">
    <mat-card-title class="text-center">{{ getProfitPersianName() }} </mat-card-title>
    <mat-card-content class="flex flex-wrap">
        <mat-card class="flex-1">
            <mat-card-subtitle class="flex items-center justify-center">
                <p>
                    <mat-icon class="mx-10" [ngClass]="getIconColorBasedOnStatus(profitData.status)">circle</mat-icon>
                    <span>{{ getProfitValueBasedOnProfitType(profitData) }}</span>
                </p>
                <p>
                    {{ profitData.changePercentage }}
                    <mat-icon [ngClass]="profitData.changePercentage > 0 ? 'green-color' : 'red-color'">
                        {{ profitData.changePercentage > 0 ? 'arrow_drop_up' : 'arrow_drop_down' }}
                    </mat-icon>
                </p>
            </mat-card-subtitle>
            <mat-card-content>
                <app-bar-chart [data]="chartInformation" [chartId]="profitType"></app-bar-chart>
            </mat-card-content>
            <mat-divider inset></mat-divider>
        </mat-card>
    </mat-card-content>
</mat-card>
