<!--<mat-card class="example-card">-->
<!--    <mat-card-subtitle>توضیحات </mat-card-subtitle>-->
<!--    <mat-card-content>-->
<!--        <mat-card *ngFor="let item of [1, 2, 3, 4, 5, 6, 7, 8]">-->
<!--            <mat-card-subtitle>{{liquidity[`desc${item}`]}} </mat-card-subtitle>-->
<!--            <mat-card-content> </mat-card-content>-->
<!--            <mat-divider inset></mat-divider>-->
<!--        </mat-card>-->
<!--    </mat-card-content>-->
<!--    <mat-divider inset></mat-divider>-->
<!--</mat-card>-->
