<mat-card *ngIf="liquidityDescriptionList.length" class="bg-color">
    <mat-card-title class="text-center">توضیحات </mat-card-title>
    <mat-accordion>
        <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false" class="mt-5">
            <mat-expansion-panel-header>
                <mat-panel-title> {{ panelOpenState ? 'برای بستن توضیحات، کلیک کنید' : 'برای مشاهده‌ی توضیحات، کلیک کنید' }} </mat-panel-title>
            </mat-expansion-panel-header>
            <mat-card-content>
                <mat-divider inset></mat-divider>
                <mat-card *ngFor="let liquidityDescription of liquidityDescriptionList" class="py-2 mb-5 bg-color text-right">
                    <mat-card-subtitle class="flex justify-start w-full">{{ liquidityDescription.title }} </mat-card-subtitle>
                    <mat-card-content class="flex justify-start w-full"> {{ liquidityDescription.description }} </mat-card-content>
                </mat-card>
            </mat-card-content>
        </mat-expansion-panel>
    </mat-accordion>
</mat-card>
